@media screen and (min-width : 0em) {
    .you-1{ 
        position: absolute;
        width: 158px;
        height: 53px;
        left: 109px;
        top: 151px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #22023B;
    }
}
@media screen and (min-width : 30em) {
    .you-1{
        color: #22023b;
        line-height: 80px;
        font-size: 48px;
        font-weight: 500;
        position: absolute;font-family: 'Poppins';
        font-style: normal;
    width: 364px;
    height: 162px;
    left: 120px;
    top: 148px;
    }    
}
@media screen and (min-width : 0em){
    .house-up-1 {position: absolute;
    width: 335px;
    height: 63px;
    left: 20px;
    top: 235px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2C2B2B;
    text-align: center;}
}
@media screen and (min-width : 30em){
    .house-up-1 {
        color: #2c2b2b;
        font-size: 24px;
        line-height: 36px;
        font-weight: 500; position: absolute;
        width: 686px;
        text-align: start;
        height: 108px;
        left: 121px;
        top: 310px;        
        font-family: 'Poppins';
        font-style: normal;
      }
}
@media screen and (min-width : 0em){
    .abt-1{
        position: absolute;
        width: 160.93px;
        height: 110px;
        left: 87px;
        top: 331px;
    }
}
@media screen and (min-width : 30em){
    .abt-1 {
        position: absolute;
    width: 504.74px;
    height: 345px;
    left: 815px;
    top: 220px;
    }

}
