@media screen and (min-width : 0em){
    .frame{
        height: 3040px;
        max-width: 375px;
    }
    
    .drop{
        box-sizing: border-box;
        position: absolute;
        width: 375px;
        height: 521px;
        left: 0px;
        top: 2119px;
        background: rgba(193, 171, 209, 0.23);
        backdrop-filter: 'blur(17.3886px)'
    }
    .peosay-1 {
        position: absolute;
    width: 210px;
    height: 24px;
    left: 83px;
    top: 45px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.035em;
    
    color: #3f3f3f;
    }
    .peosay-2{
        position: absolute;
    width: 306px;
    height: 63px;
    left: 36px;
    top: 2210px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 153%;
    /* or 38px */
    text-align: center;
    
    color: #464646
    }

      
    .frame-1 {
        position: absolute;
        width: 192px;
        height: 212px;
    left: -130px;
    top: 2329px;
    background: #FFFFFF;
    border-radius: 15.11px;
    }
    .oslo-adiana-1 {
        position: absolute;
        width: 76px;
        height: 16px;
        left: 23px;
        top: 13px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.035em;
        color: #3F3F3F;
        
        
      }
    .oslo-tl-1{
        position: absolute;
        width: 45.1px;
        height: 15px;
        left: 23px;
        top: 34px;
        font-family: 'Effra';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.035em;
        color: #464646;
    }
    .frist-frame-1{
        position: absolute;
        width: 154px;
        height: 109px;
        left: 19px;
        top: 57px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 137.5%;
        /* or 23px */
        letter-spacing: -0.035em;
        color: #464646;
    }
    .first-img-1 {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 23.19px;
        top: 168px;
    }



    .frame-2 {
        position: absolute;
        width: 192px;
        height: 212px;
    left: 92px;
    top: 2329px;
    background: #FFFFFF;
    border-radius: 15.11px;
    }
    .Jaiye-Tella-1 {
        position: absolute;
    width: 76px;
    height: 16px;
    left: 23px;
    top: 13px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    color: #3F3F3F;
    } 
    .jella-tl-1 {
        position: absolute;
    width: 45.1px;
    height: 15px;
    left: 23px;
    top: 34px;
    font-family: 'Effra';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.035em;
    color: #464646;
    }
    .second-frame-1{
        position: absolute;
        width: 154px;
        height: 109px;
        left: 19px;
        top: 57px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 137.5%;
        /* or 23px */
        letter-spacing: -0.035em;
        color: #464646;
    }
    .second-img-2 {
        position: absolute;
    width: 30px;
    height: 30px;
    left: 23.19px;
    top: 168px;
    }


    .frame-3 {
        position: absolute;
        width: 192px;
        height: 212px;
    left: 315px;
    top: 2329px;
    
    background: #FFFFFF;
    border-radius: 15.11px;
    }
    .Adriane-Mane-1 {
        position: absolute;
        width: 100px;
        height: 16px;
        left: 23px;
        top: 13px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.035em;
        color: #3F3F3F;
    }
    .manadn-1 {
        position: absolute;
        width: 45.1px;
        height: 15px;
        left: 23px;
        top: 34px;
        font-family: 'Effra';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.035em;
        color: #464646;
    }
    .third-frame-1{
        position: absolute;
        width: 154px;
        height: 109px;
        left: 19px;
        top: 57px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 137.5%;
        /* or 23px */
        letter-spacing: -0.035em;
        color: #464646;
           
    }
    .third-img-3 {
        position: absolute;
    width: 30px;
    height: 30px;
    left: 23.19px;
    top: 168px;
    }
}

@media screen and (min-width : 30em){
    .drop{
        box-sizing: border-box;
        position: absolute;
        width: 1440px;
        height: 908.87px;
        top: 2322px;
        background: rgba(193, 171, 209, 0.23);
        backdrop-filter: 'blur(17.3886px)'
    }
    .peosay-1 {
        position: absolute;
    width: 1046.88px;
    height: 171.98px;
    left: 218.99px;
    top: 127.07px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 79.2136px;
    line-height: 119px;
    letter-spacing: -0.035em;
    
    color: #131212;
    }
    .peosay-2{
        position: absolute;
    width: 1022.31px;
    height: 59.41px;
    left: 120.51px;
    top: 2577.36px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 25.0148px;
    line-height: 153%;
    /* or 38px */
    text-align: center;
    
    color: #464646
    }

    .frame-1 {
        position: absolute;
    width: 402.77px;
    height: 395.61px;
    left: 63px;
    top: 2776px;
    background: #FFFFFF;
    border-radius: 40.8632px;
    }
    .oslo-adiana-1 {
        font-size: 25px;
        line-height: 29px;
        color: #3f3f3f;
        font-weight: 700; position: absolute;
        width: 147.03px;
        height: 15.15px;
        left: 49.01px;
        top: 42.77px;
        font-family: 'Effra';
        font-style: normal;
        font-weight: 700;
        font-size: 25.0148px;
        line-height: 30px;
        letter-spacing: -0.035em;
        
        
      }
    .oslo-tl-1{
        position: absolute;
    width: 50.21px;
    height: 17.09px;
    left: 49.01px;
    top: 72.17px;
    font-family: 'Effra';
    font-style: normal;
    font-weight: 400;
    font-size: 13.9109px;
    line-height: 17px;
    letter-spacing: -0.035em;
    color: #464646;
    }
    .frist-frame-1{
        position: absolute;
    width: 299.41px;
    height: 169.09px;
    left: 49.01px;
    top: 122.29px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.23px;
    line-height: 137.5%;
    /* or 22px */
    letter-spacing: -0.035em;
    color: #3F3F3F;
    }
    .first-img-1 {
        position: absolute;
    width: 79.31px;
    height: 79.3px;
    left: 49.01px;
    top: 288.34px;
    }


    .frame-2 {
        position: absolute;
        width: 402.77px;
        height: 395.61px;
    left: 518.35px;
    top: 2776.44px;
    background: #FFFFFF;
    border-radius: 40.8632px;
    }
    .Jaiye-Tella-1 {
        position: absolute;
    width: 147.03px;
    height: 15.15px;
    left: 49.01px;
    top: 42.77px;
    
    font-family: 'Effra';
    font-style: normal;
    font-weight: 700;
    font-size: 25.0148px;
    line-height: 30px;
    letter-spacing: -0.035em;
    color: #3F3F3F;
    } 
    .jella-tl-1 {
        position: absolute;
    width: 35.25px;
    height: 17.09px;
    left: 49.01px;
    top: 72.17px;
    font-family: 'Effra';
    font-style: normal;
    font-weight: 400;
    font-size: 13.9109px;
    line-height: 17px;
    letter-spacing: -0.035em;
    color: #464646;
    }
    .second-frame-1{
        position: absolute;
        width: 299.41px;
        height: 169.09px;
        left: 49.01px;
        top: 122.29px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16.6766px;
        line-height: 137.5%;
        /* or 23px */
        letter-spacing: -0.035em;
        color: #464646;
    }
    .second-img-2 {
        position: absolute;
    width: 79.31px;
    height: 79.3px;
    left: 49.01px;
    top: 288.34px;
    }

    .frame-3 {
        position: absolute;
        width: 402.77px;
        height: 395.61px;
    left: 973.69px;
    top: 2776.44px;
    
    background: #FFFFFF;
    border-radius: 40.8632px;
    }
    .Adriane-Mane-1 {
        position: absolute;
    width: 147.03px;
    height: 15.15px;
    left: 49.01px;
    top: 42.77px;
    font-family: 'Effra';
    font-style: normal;
    font-weight: 700;
    font-size: 25.0148px;
    line-height: 30px;
    letter-spacing: -0.035em;
    color: #3F3F3F;
    }
    .manadn-1 {
        position: absolute;
    width: 64.09px;
    height: 17.09px;
    left: 49.01px;
    top: 72.17px;
    font-family: 'Effra';
    font-style: normal;
    font-weight: 400;
    font-size: 13.9109px;
    line-height: 17px;
    letter-spacing: -0.035em;
    color: #464646;
    }
    .third-frame-1{
        position: absolute;
        width: 299.41px;
        height: 169.09px;
        left: 49.01px;
        top: 122.29px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16.2294px;
        line-height: 137.5%;
        /* or 22px */
         letter-spacing: -0.035em;
        color: #3F3F3F;
           
    }
    .third-img-3 {
        position: absolute;
    width: 79.31px;
    height: 79.3px;
    left: 49.01px;
    top: 288.34px;
    }

}


 /* .bg-1 {
box-sizing: border-box;
position: absolute;
width: 1440px;
height: 908.87px;
left: 0px;
top: 2447px;
background: black;
backdrop-filter: blur(17.3886px);
} */