@media screen and (min-width : 0em){
    .footer{
        position: absolute;
        width: 1400px;
        height: 478px;
        left: 0px;
        top: 3230px;
        background-color: #150D1B
    }
}
@media screen and (min-width : 30em){
    .footer{
        position: absolute;
        width: 1400px;
        height: 478px;
        left: 0px;
        top: 3230px;
        background-color: #150D1B
    }
    .footdown-1 {
        position: absolute;
    width: 383px;
    height: 155px;
    left: 89px;
    top: 37px;
    }
    .topframe-1{
        border: red solid 2px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        position: absolute;
        width: 754px;
        height: 191px;
        left: 581px;
        top: 89px;  
    }
    .footframe-1 {
        border: green 1px solid;
     position: relative;
    width: 127px;
    height: 138px;
    flex-direction: column;
    top: 0px;
}
    .company-1 {
        width: 121px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    .compframe-1 {
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    top: 20px;
    width: 89px;
    height: 76px;
    flex: none;
    order: 1;
    flex-grow: 0;
    }
}





.About-1 {
    width: 89px;
height: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
left: 0;
}
.blog-1 {
    width: 44px;
height: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.footframe-2 {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px;
width: 192px;
height: 92px;
gap: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.features-1 {
    width: 105px;
    height: 36px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    
    /* identical to box height, or 150% */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.api-1 {
    width: 192px;
    height: 30px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    /* identical to box height */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.tee-1 {
    width: 156px;
    height: 30px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    /* identical to box height */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.res-1{
    width: 125px;
    height: 36px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    
    /* identical to box height, or 150% */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.conus-1{
    width: 110px;
    height: 30px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    /* identical to box height */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.help-1{
    width: 115px;
    height: 30px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    /* identical to box height */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.secpri-1{
    width: 205px;
    height: 30px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    /* identical to box height */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}
.footframe-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 205px;
    height: 178px;
    left: 0px;
    top: 30px;
}



.newsframe-1{
    display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 16px;

position: absolute;
width: 677px;
height: 88px;
left: 120px;
top: 3545px;
}
.news-1 {
    width: 107px;
    height: 30px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
    /* identical to box height */
    
    color: #FFFFFF;
    
    
   
}
.eadd-1 {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    width: 481px;
    height:56px;
    flex-direction: row;
    align-items: center;
    /* padding: 16px 342px 16px 16px; */
    gap: 8px;
    
    position: absolute;
    left: 120px;
    right: 0%;
    top: 3597px;
    /* bottom: 25.81%; */
    
    background: #FFFFFF;
    
    /* Neutral/Neutral 300 */
    border: 1px solid #757575;
    border-radius: 8px;
}